<footer class="page-footer bg-color">
    <div class="container row center-align">
        <div class="col s12 m8 l8 copy-right">
            Copyright&nbsp;&copy;
            <span id="year">2019</span>
            <a href="<%- config.url %>" target="_blank"><%- config.author %></a>
            |&nbsp;Powered by&nbsp;<a href="https://hexo.io/" target="_blank">Hexo</a>
            |&nbsp;Theme&nbsp;<a href="https://github.com/ZhangChunjie0228" target="_blank">Matery</a>
            <br>
            <% if (theme.postInfo.totalCount) { %>
            &nbsp;<i class="fas fa-chart-area"></i>&nbsp;站点总字数:&nbsp;<span
                class="white-color"><%= totalcount(site) %></span>&nbsp;字
            <% } %>
            <% let socialClass = '' %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
            <% socialClass = 'social-statis' %>
            <% } %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalTraffic) { %>
            <% } %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalNumberOfvisitors) { %>
            <% } %>
            <br>
            <% if (theme.time.enable) { %>
            <% } %>
            <br>
            <% if (theme.icp.enable) { %>
            <span id="icp"><img src="/medias/icp.png" style="vertical-align: text-bottom;" />
                <a href="<%- theme.icp.url %>" target="_blank"><%- theme.icp.text %></a>
            </span>
            <% } %>
        </div>
        <div class="col s12 m4 l4 social-link <%- socialClass %>"><%- partial('_partial/social-link') %></div>
    </div>
</footer>

<div class="progress-bar"></div>
